<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sx.ma.mapper.BscLabMapper">
    <select id="selectLabNameByLabCode" resultType="java.lang.String">
        select LAB_NAME
        from bsc_lab
        where LAB_CODE = #{labCode};
    </select>
</mapper>