<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sx.ma.mapper.ScatterMapMapper">
    <select id="selectByInstrumentName" resultType="com.sx.ma.vo.InstrumentVo">
        select INSTRUMENTNAME, RESULT, RESULTDATE, AGE, SEX
        from ${tableName}
        where INSTRUMENTNAME = #{instrumentName}
        GROUP BY INSTRUMENTNAME, RESULT, RESULTDATE, AGE, SEX;
    </select>
    <select id="selectInstrumentNameList" resultType="java.lang.String">
        select INSTRUMENTNAME
        from ${tableName}
        GROUP BY INSTRUMENTNAME
        having COUNT(RESULT) >= 50
    </select>
</mapper>